@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 89px;
    border-bottom: 1px solid #E2E2E2;
    box-sizing: border-box;
    gap: 150px;
}

.logo-full {
    display: flex;
    align-items: center;
}

.ask {
    position: relative;
    left: 42px;
}

.letme {
    margin-right: -4px;
    position: relative;
    left: 42px;
}

.numero-sala {
    box-sizing: border-box;
    border: 1px solid #835AFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    width: 159px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.caixa-logo {
    background-color: #835AFD;
    width: 39px;
    height: 39px;
    position: absolute;
    left: -2px;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.caixa-logo:hover {
    background-color: #6F4BD8;
}

.caixas {
    display: flex;
    gap: 10px;
}

.copiar-sala-quadrado {
    border: 1.5px solid #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 9.83px;
    height: 9.83px;
    border-radius: 2px;
}

.q1 {
    position: absolute;
    top: 11px;
    left: 11px;

}

.q2 {
    position: absolute;
    bottom: 11px;
    right: 11px;
    background-color: #835AFD;
}

.codigo-sala {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #29292E;

}

.btn-encerrar-sala {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 1px solid #835AFD;
    color: #6F4BD8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    width: 131px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    cursor: pointer;
}

.btn-encerrar-sala:hover {
    border: 1.5px solid #6F4BD8;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}